.tasks-shortcode{
	display: flex;
	gap: 30px;
	max-width: 100% !important;
	background-color: antiquewhite;
	padding: 20px;
  }
  
  .tasks-group-wrap{
	flex: 1 1 0px;
  }

  .tasks-list{
	background: rgb(213, 233, 239);
	min-height: 50px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
  
	&:empty{
	  display: flex;
	}
  
	&:empty:before{
	  content: 'This is empty';
	}
  }
  
  .task-item{
	padding: 10px;
	background: white;
	display: flex;
	justify-content: space-between;
  }
  
  
  // Dialog
  
  .task-content{
	width: 50vw;
	height: 100vh;
	min-width: unset;
	min-height:100vh;
	max-width: 800px;
	top: 0;
	right: 0;
	left: unset;
	bottom: unset;
	margin: 0;
	padding: 50px;
	box-sizing: border-box;
	box-shadow: -20px 0px 200px 20px rgba(0, 0, 0, 0.4);
  
	.wrap {
	  height: 100%;
	  overflow: scroll;
	  padding: 50px;
	  box-sizing: border-box;
	  position: relative;
	}
  
	.actions{
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  display: flex;
	  gap: 20px;
	}
  }

.wp-block-tasks-manager-tasks-progress {
    padding: 0 !important;
}

.gap-text {
    display: none;
}

.gap .gap-line {
    display: none;
}

.gap .gap-text {
    display: block;
}

button.components-button.gap-button {
    border: none !important;
    width: 25px;
    height: 25px;
    box-shadow: none !important;
    padding: 0;
    cursor: pointer;
    text-align: end;
    width: 100%;
    justify-content: end;
    margin-bottom: -16px;
    display: block;
    z-index: 999 !important;
    position: relative;
    background: #ffffff00 !important;
}

span.components-range-control__mark {
    top: 9px;
    background: white !important;
    z-index: 9;
    width: 2px;
}

.padding-button.is-secondary {
    border: none !important;
    width: 25px;
    height: 25px;
    box-shadow: none !important;
    padding: 0;
    cursor: pointer;
    text-align: end;
    width: 100%;
    justify-content: end;
    margin-bottom: -16px;
    display: block;
    z-index: 999 !important;
    position: relative;
    background: #ffffff00 !important;
}

.components-panel__body div[role="group"] {
    display: none;
}

.padding-top,
.padding-bottom,
.padding-left,
.padding-right {
    display: none;
}

.padding-diff .padding-all {
    display: none;
}

.padding-diff div[role="group"] {
    display: block;
}

.padding-full .padding-top,
.padding-full .padding-bottom,
.padding-full .padding-left,
.padding-full .padding-right {
    display: block;
}

.padding-diff:not(.padding-full) div[role=group]] {
    display: block;
}

.padding-full .padding-all {
    display: none;
}

span.components-range-control__thumb-wrapper {
    z-index: 9;
}
