.tasks-shortcode{
	display: flex;
	gap: 30px;
	max-width: 100% !important;
  }
  
  .tasks-group-wrap{
	flex: 1 1 0px;
  }
  
  .tasks-group{
  
  }
  
  
  .tasks-group-title{
  
  }
  
  
  .tasks-list{
	border: 1px solid rgb(134, 139, 140);
	background: rgb(213, 233, 239);
	min-height: 50px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
  
	&:empty{
	  display: flex;
	}
  
	&:empty:before{
	  content: 'This is empty';
	}
  }
  
  
  .task-item{
	border: 1px solid blue;
	padding: 10px;
	background: white;
	display: flex;
	justify-content: space-between;
  }
  
  
  // Dialog
  
  .task-content{
	width: 50vw;
	height: 100vh;
	min-width: unset;
	min-height:100vh;
	max-width: 800px;
	top: 0;
	right: 0;
	left: unset;
	bottom: unset;
	margin: 0;
	padding: 50px;
	box-sizing: border-box;
	box-shadow: -20px 0px 200px 20px rgba(0, 0, 0, 0.4);
  
	.wrap {
	  height: 100%;
	  overflow: scroll;
	  padding: 50px;
	  box-sizing: border-box;
	  position: relative;
	}
  
	.actions{
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  display: flex;
	  gap: 20px;
	}
  }
  
  